PORT=3000
MONGO_URI=mongodb://localhost:27017/odontosoft
JWT_SECRET=
JWT_EXPIRES_IN=8h
SEED_ADMIN_PASSWORD=
SEED_ODONTOLOGO_PASSWORD=
SEED_RECEPCIONISTA_PASSWORD=
ETHEREAL_USER=qbpevsc6mtf5s7kc@ethereal.email
ETHEREAL_PASS=paH6cHy2sbpS2ywcck
